[Unit]
Description=IP to weather (ip2w) service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/uwsgi /usr/local/etc/ip2w.ini
Restart=always
User=root
PIDFile=/var/run/ip2w.pid

[Install]
WantedBy=multi-user.target